openapi: 3.0.3
info:
  title: Flameup API
  description: |
    The Flameup API enables you to manage user profiles, track events, and send push notifications.

    ## Authentication
    All requests require an API key passed in the `Authorization` header with the `Bearer` prefix.

    ## Base URL
    ```
    https://api.flameup.ai/api/v1
    ```
  version: 1.0.0
  contact:
    name: Flameup Support
    url: https://flameup.ai/support
  license:
    name: Proprietary

servers:
  - url: https://api.flameup.ai/api/v1
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: People
    description: Manage user profiles
  - name: Events
    description: Track user events
  - name: Devices
    description: Manage push notification device tokens
  - name: Campaigns
    description: Manage messaging campaigns
  - name: Transactional
    description: Send one-off messages

paths:
  /people:
    get:
      tags:
        - People
      summary: List people
      description: Retrieve a paginated list of people in the workspace.
      operationId: listPeople
      parameters:
        - name: limit
          in: query
          description: Number of results (max 100)
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, unsubscribed, bounced]
        - name: search
          in: query
          description: Search by name or email
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - People
      summary: Create person
      description: Create a new person profile.
      operationId: createPerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePersonRequest'
      responses:
        '201':
          description: Person created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /people/{id}:
    get:
      tags:
        - People
      summary: Get person
      description: Retrieve a person by ID.
      operationId: getPerson
      parameters:
        - name: id
          in: path
          required: true
          description: External ID or email
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - People
      summary: Update person
      description: Update a person's attributes.
      operationId: updatePerson
      parameters:
        - name: id
          in: path
          required: true
          description: External ID or email
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePersonRequest'
      responses:
        '200':
          description: Person updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - People
      summary: Delete person
      description: Delete a person and all associated data.
      operationId: deletePerson
      parameters:
        - name: id
          in: path
          required: true
          description: External ID or email
          schema:
            type: string
      responses:
        '204':
          description: Person deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /people/upsert:
    post:
      tags:
        - People
      summary: Upsert person
      description: Create or update a person based on external_id or email.
      operationId: upsertPerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePersonRequest'
      responses:
        '200':
          description: Person upserted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Person'
                  - type: object
                    properties:
                      was_created:
                        type: boolean
                        description: True if person was created, false if updated

  /people/batch:
    post:
      tags:
        - People
      summary: Batch upsert people
      description: >-
        Create or update multiple people in one request. The `identify` array
        holds up to 1000 operations.
      operationId: batchUpsertPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identify
              properties:
                identify:
                  type: array
                  maxItems: 1000
                  items:
                    $ref: '#/components/schemas/CreatePersonRequest'
      responses:
        '200':
          description: Batch completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
                  total:
                    type: integer

  /people/search:
    get:
      tags:
        - People
      summary: Search people
      description: >-
        Search people in the workspace. Requires `people:read`.
      operationId: searchPeople
      parameters:
        - name: q
          in: query
          description: >-
            Search text, matched against the person's identifiers and contact
            fields. `search` is accepted as an alias; `q` wins if both are sent.
          schema:
            type: string
        - name: search
          in: query
          description: Alias for `q`.
          schema:
            type: string
        - name: status
          in: query
          description: Restrict to one lifecycle status.
          schema:
            type: string
            example: active
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
                  total:
                    type: integer
                    description: Total matches, not the size of this page.
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /workspaces/{workspaceId}/people/stats:
    description: >-
      Dashboard-only endpoint. It is authenticated with a Firebase dashboard
      session, not an API key — calling it with an API key fails. There is no
      API-key equivalent for this route.
    get:
      tags:
        - People
      summary: Get people statistics
      description: Get aggregate statistics for people in the workspace.
      operationId: getPeopleStats
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  active:
                    type: integer
                  unsubscribed:
                    type: integer
                  bounced:
                    type: integer
                  recent:
                    type: integer

  /workspaces/{workspaceId}/people/{personId}/events:
    description: >-
      Dashboard-only endpoint. It is authenticated with a Firebase dashboard
      session, not an API key — calling it with an API key fails. There is no
      API-key equivalent for this route.
    get:
      tags:
        - People
      summary: Get person events
      description: Retrieve events for a specific person.
      operationId: getPersonEvents
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/PersonId'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'

  /track:
    post:
      tags:
        - Events
      summary: Track event
      description: Record a user event.
      operationId: trackEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackEventRequest'
      responses:
        '201':
          description: Event accepted and processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      event_id:
                        type: string
                      person_id:
                        type: string
                        format: uuid
                      event:
                        type: string
                      parameters:
                        type: object
                        additionalProperties: true
                      timestamp:
                        type: string
                        format: date-time
                      processed_at:
                        type: string
                        format: date-time
                      status:
                        type: string
                        enum: [processed, accepted_with_warnings]
                      person_created:
                        type: boolean
                        description: >-
                          Present and true only when this call created the
                          person. Its absence means the identifier was already
                          known — so seeing it on an id you believed
                          established points at a typo, not a new user.
                      warnings:
                        type: array
                        items:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /identify:
    post:
      tags:
        - People
      summary: Identify a person
      description: >-
        Create or update one person and their traits, keyed on your own user id.
        This is the primary ingestion route for a people-first integration.


        Requires `people:write` or the narrower `people:identify`. The latter
        authorizes this route and nothing else, which is what makes it safe on a
        key shipped inside an app.
      operationId: identifyPerson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyRequest'
      responses:
        '200':
          description: >-
            Person created or updated. The `person` object is trimmed to
            `id`, `workspace_id` and `userId` for any key without
            `people:read`, so identify cannot be used to read a person back.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  person:
                    oneOf:
                      - $ref: '#/components/schemas/IdentifiedPerson'
                      - $ref: '#/components/schemas/Person'
                    description: >-
                      `IdentifiedPerson` for a key without `people:read` — the
                      common case for a `pk_live_` key. The full `Person` for a
                      key that holds `people:read` and could have read the
                      record anyway.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /track/batch:
    post:
      tags:
        - Events
      summary: Track events in batch
      description: Record up to 100 events in one request.
      operationId: trackEventsBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    $ref: '#/components/schemas/TrackEventRequest'
      responses:
        '201':
          description: All events accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  processed:
                    type: integer
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
        '207':
          description: >-
            Partial success. Some events were accepted and some were not;
            `errors[].index` points back at the position in the request array,
            so only those need resending.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  processed:
                    type: integer
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        error:
                          type: string

  /events/search:
    get:
      tags:
        - Events
      summary: Search events by type
      description: Return recent events of one type across the workspace.
      operationId: searchEvents
      parameters:
        - name: event
          in: query
          required: true
          schema:
            type: string
          description: The event name to search for.
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Only return events at or after this time (RFC 3339).
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Matching events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  total:
                    type: integer

  /people/{external_id}/events:
    get:
      tags:
        - Events
      summary: Get a person's events
      description: >-
        Recent events for one person, newest first. Requires `events:read`.
      operationId: getPersonEventsByExternalId
      parameters:
        - name: external_id
          in: path
          required: true
          schema:
            type: string
          description: Your own user id, not the Flameup person UUID.
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        '200':
          description: The person's events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  person_id:
                    type: string
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  total:
                    type: integer

  /people/{externalId}/devices:
    get:
      tags:
        - Devices
      summary: List devices for a person
      description: |
        Retrieve all device tokens registered for a person. The workspace is resolved
        from the API key, so it is not part of the path.

        This endpoint takes no query parameters and is not paginated. Devices are ordered
        by `last_used_at` (most recent first), then `created_at` descending.

        Accepts `devices:read` or `devices:write`. A `devices:register` key is
        deliberately rejected here — it must not be able to enumerate device tokens.
      operationId: listPersonDevices
      parameters:
        - $ref: '#/components/parameters/PersonExternalId'
      responses:
        '200':
          description: Device list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  count:
                    type: integer
                    description: Number of devices returned
        '400':
          description: Invalid person ID
        '403':
          description: API key lacks `devices:read` or `devices:write`
    post:
      tags:
        - Devices
      summary: Register device
      description: |
        Register a device token for push notifications. The workspace is resolved from
        the API key, and the person is identified by the UUID in the path — neither
        belongs in the request body.

        Re-posting the same token updates the existing device record rather than
        creating a duplicate; use this to refresh `app_version` or `os_version`.

        Accepts `devices:register` or `devices:write`. Use `devices:register` for
        keys embedded in a mobile app.
      operationId: registerDevice
      parameters:
        - $ref: '#/components/parameters/PersonExternalId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '200':
          description: Device registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  device_id:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          description: Validation failed — check `token` length and `platform`
        '403':
          description: API key lacks `devices:register`/`devices:write`, or the person belongs to another workspace
        '404':
          description: Person not found
        '409':
          description: Cannot register a device for an inactive person

  /people/{externalId}/devices/{token}:
    delete:
      tags:
        - Devices
      summary: Unregister device
      description: |
        Unregister a device by its **token**, not by a device UUID. The token must be
        URL-encoded, as FCM/APNs tokens contain characters that are unsafe in a path.

        The device is invalidated rather than hard-deleted, so it stops receiving push
        but remains in the record for auditing.

        Accepts `devices:register` or `devices:write`.
      operationId: unregisterDevice
      parameters:
        - $ref: '#/components/parameters/PersonExternalId'
        - name: token
          in: path
          required: true
          description: The URL-encoded FCM/APNs device token
          schema:
            type: string
      responses:
        '200':
          description: Device unregistered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Invalid person ID
        '403':
          description: API key lacks `devices:register` or `devices:write`
        '404':
          description: Device not found

  /workspaces/{workspaceId}/campaigns:
    description: >-
      Dashboard-only endpoint. It is authenticated with a Firebase dashboard
      session, not an API key — calling it with an API key fails. There is no
      API-key equivalent for this route.
    get:
      tags:
        - Campaigns
      summary: List campaigns
      description: Retrieve campaigns in the workspace.
      operationId: listCampaigns
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, paused, completed]
        - name: trigger_type
          in: query
          schema:
            type: string
            enum: [event, webhook, schedule, dynamic_schedule]
      responses:
        '200':
          description: Campaign list
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaigns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
                  total:
                    type: integer
    post:
      tags:
        - Campaigns
      summary: Create campaign
      description: Create a new campaign.
      operationId: createCampaign
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'

  /workspaces/{workspaceId}/campaigns/{campaignId}:
    description: >-
      Dashboard-only endpoint. It is authenticated with a Firebase dashboard
      session, not an API key — calling it with an API key fails. There is no
      API-key equivalent for this route.
    get:
      tags:
        - Campaigns
      summary: Get campaign
      operationId: getCampaign
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/CampaignId'
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
    put:
      tags:
        - Campaigns
      summary: Update campaign
      operationId: updateCampaign
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/CampaignId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        '200':
          description: Campaign updated
    delete:
      tags:
        - Campaigns
      summary: Delete campaign
      operationId: deleteCampaign
      security:
        - DashboardAuth: []
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/CampaignId'
      responses:
        '204':
          description: Campaign deleted

  /campaigns/{campaignId}/trigger:
    post:
      tags:
        - Campaigns
      summary: Trigger campaign
      description: >-
        Manually trigger a campaign for its configured audience. This route is
        workspace-agnostic — the workspace comes from the API key, so it must NOT
        be included in the path. Requires the `campaigns:trigger` permission.
      operationId: triggerCampaign
      parameters:
        - $ref: '#/components/parameters/CampaignId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                filters:
                  type: object
                data:
                  type: object
      responses:
        '200':
          description: Campaign triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  recipients_count:
                    type: integer

  /workspaces/{workspaceId}/push/send:
    post:
      tags:
        - Transactional
      summary: Send transactional push
      description: >-
        Send a one-off push notification to a user. Unlike most API-key routes, this
        one IS workspace-scoped, and the workspace in the path must match the one the
        API key belongs to.
      operationId: sendTransactionalPush
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionalRequest'
      responses:
        '200':
          description: >-
            Accepted by the provider. `status` reports the provider handoff, not
            delivery to the handset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_id:
                    type: string
                    description: Use with the push status route to check delivery.
                    example: 9f2c1e77-4a1b-4c2e-9a0f-51a6b2d3c8e4
                  status:
                    type: string
                    example: sent
                  sent_at:
                    type: string
                    format: date-time
                  provider:
                    type: string
                    example: fcm
                  provider_id:
                    type: string
                    description: The provider's own message identifier.
                  error:
                    type: string
                    description: Present only when the provider rejected the send.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No person in this workspace has that `external_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Your Flameup API key (passed as Bearer token)
    DashboardAuth:
      type: http
      scheme: bearer
      description: >-
        A Firebase ID token from a signed-in dashboard session. Endpoints using this
        scheme are NOT callable with an API key and will reject one.

  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      description: Workspace ID
      schema:
        type: string
    PersonId:
      name: personId
      in: path
      required: true
      description: Person ID (UUID)
      schema:
        type: string
        format: uuid
    PersonExternalId:
      name: externalId
      in: path
      required: true
      description: >-
        Your own user id — the same `userId` you send to /identify and /track.
        This is NOT the Flameup person UUID. Every API-key route keys on this
        identifier; the Flameup UUID is used only by the dashboard's
        workspace-scoped routes.
      schema:
        type: string
    CampaignId:
      name: campaignId
      in: path
      required: true
      description: Campaign ID
      schema:
        type: string

  schemas:
    Person:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
        external_id:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        avatar_url:
          type: string
          format: uri
        timezone:
          type: string
        locale:
          type: string
        status:
          type: string
          enum: [active, unsubscribed, bounced]
        attributes:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time

    IdentifiedPerson:
      type: object
      description: >-
        What `/identify` returns. A key holding `people:read` gets the full
        `Person`; every other key — including a `pk_live_` key with
        `people:identify` — gets these three fields only, so identify cannot be
        turned into a person-read.
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        userId:
          type: string
          description: The identifier you sent.

    CreatePersonRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
          description: Your unique identifier for this user
        email:
          type: string
          format: email
        phone:
          type: string
          description: User's phone number
        traits:
          type: object
          description: User attributes
          properties:
            first_name:
              type: string
            last_name:
              type: string
            phone:
              type: string
            avatar_url:
              type: string
            timezone:
              type: string
            locale:
              type: string
          additionalProperties: true

    IdentifyRequest:
      type: object
      anyOf:
        - required: [userId]
        - required: [external_id]
        - required: [user_id]
      properties:
        userId:
          type: string
          description: >-
            Your own user id. `external_id` and `user_id` are accepted aliases.
            Send only one — if two are present and disagree the request is
            rejected rather than one being picked for you.
        external_id:
          type: string
        user_id:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        traits:
          type: object
          additionalProperties: true
          description: Merged with existing traits; new values win.
        timestamp:
          type: string
          format: date-time

    UpdatePersonRequest:
      type: object
      properties:
        traits:
          type: object
          description: Attributes to update (merged with existing)
          additionalProperties: true

    Event:
      type: object
      description: >-
        Note the field is `type` on the way out, though you send it as `event`
        on the way in.
      properties:
        id:
          type: string
        type:
          type: string
          description: The event name.
          example: purchase_completed
        person_id:
          type: string
          format: uuid
          description: >-
            Returned by `/events/search` only. The per-person routes omit it,
            since the person is already in the path.
        parameters:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time

    TrackEventRequest:
      type: object
      description: >-
        `event` is required, plus at least one identifier. `external_id`,
        `userId` and `user_id` are equal aliases for the same field — send
        whichever your client already has. Sending more than one is allowed
        only while they agree; aliases that disagree are rejected rather than
        resolved by precedence.
      required:
        - event
      anyOf:
        - required: [external_id]
        - required: [userId]
        - required: [user_id]
      properties:
        external_id:
          type: string
          description: Your own identifier for the person, as sent to `/identify`.
        userId:
          type: string
          description: Alias for `external_id`.
        user_id:
          type: string
          description: Alias for `external_id`.
        event:
          type: string
          description: Event name
        parameters:
          type: object
          description: Event parameters
        properties:
          type: object
          description: Alias for parameters
        timestamp:
          type: string
          format: date-time
          description: When the event occurred (defaults to now)

    Device:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        person_id:
          type: string
          format: uuid
        device_token:
          type: string
        platform:
          type: string
          description: Device platform (web coming soon)
          enum: [ios, android, web]
        device_name:
          type: string
        device_model:
          type: string
        os_version:
          type: string
        app_version:
          type: string
        is_active:
          type: boolean
        is_valid:
          type: boolean
        last_used_at:
          type: string
          format: date-time
        registration_count:
          type: integer
          description: Number of times this token has been re-registered
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RegisterDeviceRequest:
      type: object
      required:
        - token
        - platform
      properties:
        token:
          type: string
          minLength: 10
          maxLength: 4096
          description: >-
            The FCM/APNs token from the device. Note the asymmetry: this field is named
            `token` on the way in, but is returned as `device_token` on the Device object.
            The person and workspace are taken from the path and the API key respectively,
            so `person_id` and `workspace_id` are not accepted here.
        platform:
          type: string
          description: Device platform (web coming soon)
          enum: [ios, android, web]
        device_name:
          type: string
        device_model:
          type: string
        os_version:
          type: string
        app_version:
          type: string

    Campaign:
      type: object
      properties:
        id:
          type: string
        workspace_id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [draft, active, paused, completed]
        trigger_type:
          type: string
          enum: [event, webhook, schedule, dynamic_schedule]
        trigger_config:
          type: object
        audience_config:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateCampaignRequest:
      type: object
      required:
        - name
        - trigger_type
      properties:
        name:
          type: string
        trigger_type:
          type: string
          enum: [event, webhook, schedule, dynamic_schedule]
        trigger_config:
          type: object
        messages:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [push]
              template:
                type: object
                properties:
                  title:
                    type: string
                  body:
                    type: string
                  data:
                    type: object

    UpdateCampaignRequest:
      type: object
      properties:
        name:
          type: string
        trigger_config:
          type: object
        status:
          type: string
          enum: [draft, active, paused]

    TransactionalRequest:
      type: object
      required: [external_id, title, body]
      properties:
        external_id:
          type: string
          description: >-
            Your own user id — the same one you send to /identify and /track.
            The Flameup person UUID is not accepted.
        title:
          type: string
        body:
          type: string
        platform:
          type: string
          enum: [ios, android, web, all]
          default: all
        image_url:
          type: string
        action_url:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
        ttl:
          type: integer
          description: Seconds.
        custom_data:
          type: object
          additionalProperties: true
        ios_badge:
          type: integer
        ios_sound:
          type: string
        ios_category:
          type: string
        android_icon:
          type: string
          description: >-
            A drawable name in YOUR app. Omit it and Android uses the app's own
            default notification icon, which is almost always what you want.
        android_channel_id:
          type: string
          description: A notification channel in your app. Omit to use its default.
        android_color:
          type: string
        android_sound:
          type: string

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
